{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Contact.css'%}">
    <link rel="shortcut icon" href="{% static 'img/favicon1.png' %}" type="image/x-icon">
    <title>Contact - LUMINI</title>
</head>
<body>
    <header>
        <div class="menu-mobile-container">
            <div class="hide-menu">
                &Cross;
            </div>
            <ul>
                <li><a href="{% url 'Home' %}">Accueil</a></li>
                <li><a href="#" class="offre">Offre d'emploi</a></li>
                <li><a href="#" class="blog">Blog</a></li>
            </ul>
        </div>
        <nav>
            <ul>
                <a href="{% url 'Home' %}" style="display: flex;">
                    <img src="{% static 'img/favicon1.png' %}" alt="logo de LUMINI" title="logo de LUMINI">
                    <span>LUMINI</span>
                </a>
            </ul>
            <ul class="nav-desktop">
                <li><a href="{% url 'Home' %}">Accueil</a></li>
                <li><a href="#" class="offre">Offre d'emploi</a></li>
                <li><a href="#" class="blog">Blog</a></li>
            </ul>
            <ul class="nav-mobile">
                <img class="menu" src="{% static 'img/dark-menu.png' %}" alt="">
            </ul>
        </nav>
    </header>
    <main>
        <aside class="left">
        </aside>
        <aside class="right">
            <form method="POST" action="{% url 'Contact' %}">
                <h1>Simple contact</h1>
                <p>Avez-vous des idées en tête 💡? Suggestion, critique, amélioration? Laissez-nous juste un message et on vous répondra.</p>
                <div class="element">
                    <label for="name">Votre nom :</label>
                    <input type="text" name="name" id="name" required placeholder="ex: John Doe">
                </div>
                <div class="element">
                    <label for="email">Votre email :</label>
                    <input type="email" name="email" id="email" required placeholder="ex: johndoe@example.com">
                </div>
                <div class="element number">
                    <label for="number">Votre numéro téléphone :</label>
                    <input type="tel" name="number" id="number" required placeholder="ex: +261 ... ... ...">
                </div>
                <div class="element">
                    <label for="object">Objet du contact :</label>
                    <select name="object" id="object" required onchange="checkSelectValue()">
                        <option value="simple">
                            Simple prise de contact 🤝
                        </option>
                        <option value="date">
                            Prise de rendez-vous 📅
                        </option>
                    </select>
                </div>
                <div class="element reason">
                    <label for="objcet">Raison du prise de rendez-vous :</label>
                    <select name="object" id="reason" required onchange="checkSelectValue()">
                        <option value="web">
                            Création de site web | application web 🌐
                        </option>
                        <option value="mobile">
                            Création d'application mobile 📱
                        </option>
                        <option value="mobile">
                            Mise en ligne d'une application web | mobile 🧱
                        </option>
                    </select>
                </div>
                <div class="element">
                    <label for="message">Votre message :</label>
                    <textarea name="message" id="message" required placeholder="Ecrivez votre message."></textarea>
                </div>
                <div class="element">
                    <button name="save">Envoyer</button>
                </div>
            </form>
        </aside>
    </main>
</body>
<script src="{% static 'js/Contact.js' %}"></script>
</html>