{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon1.png' %}" type="image/x-icon">
    <title>Accueil</title>
</head>
<body>
    <header>
        <div class="menu-mobile-container">
            <div class="hide-menu">
                &Cross;
            </div>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#" class="offre">Offre d'emploi</a></li>
                <li><a href="#" class="blog">Blog</a></li>
            </ul>
        </div>
        <nav>
            <ul>
                <img src="{% static 'img/favicon1.png' %}" alt="logo de LUMINI" title="logo de LUMINI">
                <span>LUMINI</span>
            </ul>
            <ul class="nav-desktop">
                <li><a href="#">Accueil</a></li>
                <li><a href="#" class="offre">Offre d'emploi</a></li>
                <li><a href="#" class="blog">Blog</a></li>
            </ul>
            <ul class="nav-mobile">
                <img class="menu" src="{% static 'img/menu.png' %}" alt="">
            </ul>
        </nav>
        <section>
            <h1>Ensemble, réalisons vos rêves.</h1>
        </section>
        <div class="button-container">
            <button>Explore</button>
        </div>
    </header>
    <script src="{% static 'js/Home.js' %}"></script>
</body>
</html>