# Endpoint pour récupérer par API la liste des projets
API_URL =

# Clé api pour l'API liste des projets
PROJECT_API_KEY =

# Database name
DB_NAME =

# Database user
DB_USER =

# Database user password
DB_PASSWORD =

# Database host
DB_HOST =

# Database post
DB_PORT =

# The state off app (True if PROD | False if DEV)
APP_STATE =