@font-face {
    font-family: Poppins;
    src: url('../font/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

header {
    padding: 10px 50px 50px 50px;
}

header nav {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin: auto;
}


ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 15px;
}

li a {
    text-decoration: none;
    transition: 200ms;
    font-weight: 400;
    font-size: 14px;
    color: #073B4C;
}

li a:hover {
    color: #073B4C;
    transition: 200ms;
}

ul img {
    width: 40px;
}

ul span {
    margin-left: 10px;
    font-weight: 600;
    color: white;
    font-size: 25px;
}

.nav-mobile {
    display: none;
}

.menu-mobile-container {
    width: 0%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: width 200ms ease-in-out;
}

.menu-mobile-container.active {
    width: 100%;
    transition: width 200ms ease-in-out;
}

.menu-mobile-container ul {
    width: 0%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    overflow: hidden;
}

.menu-mobile-container.active ul {
    width: 100%;
}

.hide-menu {
    width: 25px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-bottom: 2px;
}

header a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
}

.left {
    width: 50%;
    height: 100%;
    background-image: url(../img/header-bg.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 766px) {
    header {
        padding: 10px 20px 20px 20px;
    }
    header section {
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    header h1 {
        width: 70%;
    }

    .realisation h2 {
        width: 50%;
        margin: 0 auto 20px auto;
    }
}

@media only screen and (max-width: 470px) {
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
}